<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Add course</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group my-3">
                    <label for="courseName">COURSE NAME:</label>
                    <input #courseName type="text" class="form-control">
                </div>
                <div class="d-flex justify-content-center">
                    <button (click)="save(courseName.value)" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>