<div class="container my-3">
  <button (click)="createStudent()" class="btn btn-info text-white ">Add student</button>
  <button (click)="getAllStudents()" class="btn btn-info text-white" style="margin-left: 10px;">List students</button>
  <button (click)="createCourse()" class="btn btn-info text-white" style="margin-left: 10px;">Add course</button>
  <button (click)="getAllCourses()" class="btn btn-info text-white" style="margin-left: 10px;">List courses</button>
</div>

<router-outlet></router-outlet>
