<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Courses</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>COURSE TITLE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courses">
                        <td>{{ course.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>