<div class="container col-md-6 my-5">
    <div class="card">
        <div class="card-header">
            <h3>Edit student</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="name">NAME:</label>
                    <input #name id="name" type="text" class="form-control">
                </div>
                <div class="form-group my-3">
                    <label for="lastName">LAST NAME:</label>
                    <input #lastName id="lastName" type="text" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-between">
    <div class="card" style="width: 47.5%;">
        <div class="card-header">
            <h3>Students courses</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of studentCourses">
                        <td>{{ course.description }}</td>
                        <td>
                            <button (click)="removeCourse(course)" class="btn">-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card" style="width: 47.5%;">
        <div class="card-header">
            <h3>Available courses</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of availableCourses">
                        <td>{{ course.description }}</td>
                        <td>
                            <button (click)="addCourse(course)" class="btn">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>