<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Add student</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="name">NAME:</label>
                    <input #name type="text" class="form-control">
                </div>
                <div class="form-group my-3">
                    <label for="lastName">LAST NAME:</label>
                    <input #lastName type="text" class="form-control">
                </div>
                <div class="d-flex justify-content-center">
                    <button (click)="save(name.value, lastName.value)" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>