<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Students</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>LAST NAME</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{ student.name }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>
                            <button (click)="redirectEdit(student.id)" class="btn btn-warning text-white">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>